* {
    box-sizing: border-box;
}

/* Style the body  */
body {
    font-family: Helvetica, sans-serif;
    background: #aaa;
}


/* ///// */
/* MAIN BOX */
.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* ///// */


/* Header/logo Title */
.main-header-container {
  background:#000;
  color: #aaa;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.main-header-container .hamburguer-menu{
    flex: 15;
    display: flex;
    justify-content: center;
}

#hamburger {
    fill: #fff;
    display: none;
}

.main-header-container .main-title{
    flex: 70;
    display: flex;
    justify-content: center;
    font-size: 2em;
}

.main-header-container .header-logo{
    flex: 15;
    display: flex;
    justify-content: center;
    font-size: 2em;
}
/* ///// */

/* NAVEGATION BAR */
.main-navbar {
    background: #fff;
    width: 100%;
    height: 25px;
    position: fixed;
    top: 55px;
    z-index: 1;
    font-weight: 900;
}
.main-navbar .navbar-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1 0;
}
.main-navbar .navbar-container ul li{
    padding: 5px 30px;
}

.main-navbar a {
    text-decoration: none;
    color: #000;
}

.main-navbar a:hover {
    color: #aaa;
}
/* ///// */

/* Main section */
.main-section-container {
    position: relative;
    width: 100%;
    margin-top: 85px;
    display: flex;
    flex-wrap: wrap;
    background: #aaa;
    justify-content: center;
}

.big-news, .small-news {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 2px 5px 2px 5px;
    background: #fff;
    flex-grow: 1;
}

.big-news figure,h1,h2,small,p {
    margin: 5px;
}

.big-news img {
    width: 100%;
}

.main-section-container h2 {
    font-weight: 500;
}

.main-section-container p {
    font-weight: 900;
}

.main-section-container h1 {
    font-size: 22px;
}

.main-section-container small {
    font-size: 12px;
    font-weight: 900;
    padding-bottom: 2px;
}

.main-section-container a {
    text-decoration: none;
    color: #000;
}

.small-news {
    order: 1;
}

.main-section-container :nth-child(odd) {
    background: #000;
    color: #fff;
}
/* ///// */

/* Footer */
.main-footer-container {
    background: #000;
    color: #aaa;
    width: 100%;
    height:300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.main-footer-container a {
    text-decoration: none;
    color: #fff;
}

.main-footer-container a:hover {
    color: #aaa;
}

.main-footer-container .footer-about,.footer-contact, .footer-credits, .footer-jobs,
.footer-legal, .footer-policy {
    font-size: 0.8em;
}

.footer-header {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.footer-media-share-logo {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-media-share-logo a {
    text-decoration: none;
    color: #fff;
    fill: #fff;
}

.facebook-share, .instagram-share, .twitter-share, .youtube-share, .tumblr-share {
    fill:#fff;
    color: #fff;
    margin: 10px;
}

.footer-contact, .footer-about, .footer-jobs, .footer-legal, .footer-policy {
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 5.5em;
}

.footer-credits {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}
/* ///// */


/* MEDOA QUERYS */
@media screen and (max-width: 700px) {
    #hamburger {
        display:flex;
    }
    .main-navbar {
        display: none;
    }

    .main-header-container .header-logo {
        padding: 0 5px;
    }
    .main-header-container .main-title {
        font-size: 1.8em;
    }

    .main-section-container {
        margin-top: 60px;
    }
}
